body {
   background-color: #292929;
   color: white;
   max-width: 1500px;
   margin: 0 auto;
   padding: 3em;
}

.title {
    max-width: 300px;
    margin: auto;
}

.desc {
    max-width: 400px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.heading {
    color: #c1c1c1;
    font-weight: bold;
    font-family: "Georgia";
    font-size: 30pt;
    line-height: 80%;
    text-align: center;
}

.sub-heading {
    color: #898989;
    font-style:italic;
    font-family: "Arial";
    font-size: 25pt;
    text-align: center;
}

.text {
	font-family: "Georgia";
    color: #c1c1c1;
    //padding-left: 15px;
}

.span {
    display: flex;
    height: 100%;
}

.button {
    background-color: #e64b4b;
    width: 7em;
    height: 1.25em;
    padding: 4px 3px 6px 3px;
    border-radius: 20px;
    font-family: "Arial";
    color: white;
    text-align:center;
    cursor: pointer;
    margin:auto;
    text-decoration: none;
}

.member {
   display: block;
   border-style: solid;
   padding: 10px;
   margin: 10px;
   background-color: #FFFFFF;
   border-radius: 5px;
   font-family: "Arial";
   text-align: center;
   font-weight: bold;
   font-size: 10pt;
}

.members {
   justify-content: space-around;
   display: flex;
   flex-wrap: wrap;
   margin-top: 20px;
}

.member-descriptions {
   display: flex;
   flex-direction: column;
}

.member-descriptions .text {
   padding: 0px;
   margin: 0px;
   color: #a1a1a1;
}


.profile-picture {
   width: 120px;
   height: 120px;
   border-radius:50%;
}

.member-name {
    color: #555555;
    font-weight: bold;
    font-size: 12pt;
    line-height: 80%;
    margin-bottom: 10px;
}

.links {
    margin-top: 5px;
    height: 2em;
}

.links a {
    padding: 0 5px 0 5px;
    opacity: 0.75;
}

.links a:hover {
    opacity: 1;
}

.github {
    background-image: url("github-icon.png");
    background-size: 2em;
    width: 2em;
    height: 2em;
    display:inline-block;
}

.email {
    background-image: url("email-icon.png");
    background-size: 2em;
    width: 2em;
    height: 2em;
    display:inline-block;
}
